@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
    font-style: normal;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: 16px 'Open Sans';
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #f14a58;
}

.container::after, #arrivals-holder::after, #catalog-holder::after .footer-left-side::after, .footer-right-side::after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------------------------------header */

.index-logo {
  float: left;
  width: 25%;
}

.user-block {
  float: right;
  width: 25%;
}

.sign-up, .cart-info {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.cart-info::before {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url(/img/icons.png);
  background-position: -65px 0;
  position: absolute;
  bottom: 1.6em;
  right: 2.2em;
}

ul {
  list-style: none;
}

.search-panel {
  position: relative;
}

#search-field {
  font: 12px 'Open Sans';
  color: #a8a8a8;
  font-weight: bold;
  padding-bottom: 1em;
  border: none;
  border-bottom: 2px solid #e5e5e5;
}

.search-icon {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(/img/icons.png);
  background-position: -99px 0px;
  position: absolute;
  z-index: 3;
}

/*----------------------------------------------------promo-block */

.promo-block, .banners, .new-arrivals {
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}

.controls {
  text-align: center;
}

.slider-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.controls label {
  display: inline-block;
  padding-right: 22px;
  position: relative;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 6px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.slider-button:checked ~ .checkmark {
  background-color: #f14a58;
}

.slides img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cover {
  width: 100%;
  object-fit: cover;
  height: 769px;
}

/*----------------------------------------------------banners */

.scale-img {
  width: 100%;
  height: auto;
}

/*----------------------------------------------------new-arrivals */

.new-arrivals {
  text-align: center;
}

.item-wrapper .item-title{
  font-family: 'RobotoBold';
}

.arrivals-btn {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 1px solid #e5e5e5;
}

.item-wrapper, .img-container {
  position: relative;
}

.background-black {
  width: 100%;
  height: 100%;
  background-color: black;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
}

.background-black ~ div {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: calc((100% - 104px) / 2);
  opacity: 0;
  font-size: 22px;
  color: #f14a58;
  font-weight: bold;
  margin-top: -0.625em;
}

.item-wrapper:hover .background-black {
  opacity: 0.5;
}

.item-wrapper:hover .background-black ~ div  {
  opacity: 1;
}

.item-wrapper:hover .item-title ~ span {
  color: black;
}

.new-label {
  position: absolute;
  top: 15px;
  width: 54px;
  height: 26px;
  font: 13px 'RobotoMedium';
  color: #ffffff;
  background-color: #f14a58;
  text-align: center;
  padding-top: 6px;
}
/*----------------------------------------------------footer */

.footer-column-title {
  font-size: 16px;
  font-weight: bold;
}

.footer-info, .footer-info a {
  font: 14px 'Roboto';
  display: block;
}

.footer-bottom-right, .footer-bottom-left {
  font: 12px 'RobotoBold';
}

.sharing span:nth-child(1){
  font: 18px 'Open Sans';
  font-weight: bold;
}

.sharing span:nth-child(2){
  font: 12px 'Roboto';
}

.footer-bottom-right span {
  display: inline-block;
}

.sprite {
  display: inline-block;
  vertical-align: top;
  content: "";
}

.social-twitter span {
  width: 14px;
  height: 13px;
  background-image: url(/img/icons.png);
  background-position: -46px 0;
  margin-right: 6px;
}



@media screen and (max-width: 767px) {

/*----------------------------------------------------header*/
  .container {
    width: 100%;
    padding: 0 1.25rem;
    position: relative;
  }

  header {
    min-height: 70px;
    border-bottom: 1px solid #e5e5e5;
  }

  .logo {
    display: none;
  }

  .mobile-logo {
    font-size: 24px; 
    font-weight: bold;
    margin: 0.9em 0 0.7em;
  }

  .sign-up {
    display: none;
  }

  .cart-info p{
    font: 12px 'Roboto';
    margin: 2em 0;
  }

  nav {
    width: 54px;
    height: 70px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .button-border {
    border-left: 1px solid #e5e5e5;
  }

  .switcher {
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }

  .nav-icon {
    position: absolute;
    z-index: 3;
    top: 29px;
    left: 20px;
    width: 14px;
    height: 12px;
    content: "";
    background-image: url(/img/icons.png);
    background-position: 0 0;
  }

  .nav-icon-close {
    display: block;
    position: absolute;
    z-index: 4;
    top: 29px;
    left: 20px;
    width: 15px;
    height: 14px;
    content: "";
    background-image: url(/img/icons.png);
    background-position: -82px 0px;
  }

  .nav-menu {
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 72px;
    width: 100vw;
    min-height: 600px;
    margin: 0;
    background: white;
    padding: 0 1.25rem;
    border-bottom: 1px solid #e5e5e5;
  }

  .dropdown-content {
    display: none;
  }

  .push-content {
    margin-bottom: 600px;
  }

  .nav-menu ul {
    padding: 0;
    margin: 0;
  }

  .nav-link {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.1em; 
  }

  .search-panel {
    margin-top: 70px;
  }

  #search-field {
    width: 162px;
  }

  .search-icon {
    top: 0.35em;
    left: 9.25em;
  }

  /*----------------------------------------------------promo-block */

  .arrow {
    display: none;
  }

  .controls label {
    margin: 25px auto;
  }

  .cover {
    height: 474px;
  }

  /*----------------------------------------------------banners */

  .right-banner {
    display: none;
  }
  /*----------------------------------------------------new-arrivals */

  h2 {
    font-size: 26px;
    margin: 2.3em auto;
    text-align: center;
  }

  #arrivals-holder li, #catalog-holder li {
    float: left;
    width: 47%;
    margin-bottom: 72px;
  }

  #arrivals-holder li:nth-child(2) ~ li {
    display: none;
  }

  #arrivals-holder li:nth-child(odd), #catalog-holder li:nth-child(odd) {
    margin-right: 5vw;
  }

  .item-wrapper span{
    display: block;
    font: 12px 'Roboto';
  }

  .item-img  {
    width: 100%;
    height: auto; 
  }
  
  .item-title {
    margin-top: 2.6em;
    margin-bottom: 1.4em;
  }

  .arrivals-btn{
    font-size: 18px;
    font-weight: bold;
    padding: 1em 3em;
    margin-bottom: 5.5em;
  }
  /*----------------------------------------------------footer */

  .footer-left-side, .footer-right-side, .footer-bottom-right {
    width: 100%;
    padding: 0 1.25rem;
    border-bottom: 1px solid #e5e5e5;
  }

  .footer-bottom-left {
    width: 100%;
    padding: 0 1.25rem;
  }

  .footer-column {
    float: left;
    width: 46%;
  }

  .footer-left-side > div:nth-child(2) {
    margin-left: 25px;
  }

  .footer-right-side > div:nth-child(2) {
    margin-left: 25px;
  }

  .footer-column-title {
    font-size: 14px;
  }

  .footer-info a, .footer-info {
    font-size: 12px;
  }

  .footer-left-side .footer-column-title {
    margin: 2.5em 0;
  }

  .footer-right-side .footer-column-title {
    margin-top: 1.7em;
    margin-bottom: 1.2em;
  }

  .footer-info a {
    margin-bottom: 2em;
  }

  .footer-under-column {
    display: none;
  }

  .footer-right-side .footer-info {
    margin-bottom: 3.5em;
  }

  .footer-bottom-left, .footer-bottom-right {
    font-size: 10px;
  }

  .footer-bottom-left::after, .footer-bottom-right::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer-bottom-right div:nth-child(1) {
    float: left;
  }

  .footer-bottom-right div:nth-child(2) {
    float: right;
  }

  .sharing span:nth-child(1){
    font-size: 14px;
    display: inline-block;
    margin-right: 6px;
  }
  
  .sharing span:nth-child(2){
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 19px;
    background-image: url(/img/icons.png);
    background-position: -125px 0;
    text-align: center;
    padding: 3px 0;
    font-size: 10px;
  }

  .footer-bottom-right div {
   margin: 3em 0;
  }

  .footer-bottom-right div:nth-child(1) span {
    padding-right: 1.4em;
   }

  .footer-bottom-left div:nth-child(1) {
    float: left;
    padding: 25px 0 35px;
  }

  .footer-bottom-left div:nth-child(2) {
    float: right;
    padding: 20px 0 30px;
  }

  .social-block-mobile .facebook {
    width: 8px;
    height: 14px;
    background-image: url(/img/icons.png);
    background-position: -19px 0;
    margin-right: 25px;
  }

  .social-block-mobile .twitter {
    width: 15px;
    height: 11px;
    background-image: url(/img/icons.png);
    background-position: -30px -2px;
    margin-right: 0;
  }
}